# Application
htdocs/app/plugins/*
!htdocs/app/plugins/.gitkeep
htdocs/app/mu-plugins/*
!htdocs/app/mu-plugins/.gitkeep
htdocs/app/upgrade
htdocs/app/uploads/*
!htdocs/app/uploads/.gitkeep
!htdocs/app/mu-plugins/disallow-indexing.php
!htdocs/app/mu-plugins/register-theme-directory.php
!htdocs/app/mu-plugins/bedrock-autoloader.php
# ACF
!htdocs/app/plugins/advanced-custom-fields-pro

# WordPress
htdocs/wp
htdocs/.htaccess
htdocs/app/debug.log

# WP-CLI
db-sync
sql-dump-*.sql

# Dotenv
.env
.env.*
!.env.example

# Vendor (e.g. Composer)
vendor/*
!vendor/.gitkeep
deploy

# Node Package Manager
node_modules

# Composer package manager
.composer

# Vagrant
.vagrant

# SublimeText
*.sublime-workspace

# DB docker volume
db
